.helpdot {
    position: relative;
    /* width: 50px; */
    /* height: 50px; */
    top: -25px;
    left: 29px;
}
.dot:before{
    content:' ';
    position: absolute;
    z-index:2;
    left:0;
    top:0;
    width:10px;
    height:10px;
    background-color: #29b7ff;
    border-radius: 50%;
    cursor: pointer;
}

.dot:after {
    content:' ';
    position: absolute;
    z-index:1;
    width:10px;
    height:10px;
    background-color: #29b7ff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
    -webkit-animation-name:'ripple';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

@keyframes ripple {
    0% {
        left:5px;
        top:5px;
        opcity:75;
        width:0;
        height:0;
    }
    100% {
        left:-20px;
        top:-20px;
        opacity: 0;
        width:50px;
        height:50px;
    }
}
.popover{
    top: 5px !important;
    left: 4px !important;
}

i.active{
    color: #29b7ff;
}

.main-footer {
    padding: 0.3rem 1rem;
}
.content-header{
    background-color: #FFFFFF;
    border-bottom: solid 1px #dee2e6;
    padding: 0.5rem;
}
.content-header h1 {
    font-size: 24px;
    margin: 0;
}

#content>.card>.card-body{
    padding: 0.5rem !important;
}
.loader-body .loader{
    background-image: url('/assets/img/loader.gif');
    background-position: center;
    height: 200px;
    background-size: cover;
}